:root {
    --primary: #005187;
    --secondary: #D4E1EB;
    --tertiary: #6C757D;
    --success: #198754;
    --info: #0dcaf0;
    --warning: #ffc107;
    --danger: #dc3545;
}

.bg-primary,
.btn-primary{
    background-color: var(--primary) !important;
}
.btn-outline-primary {
    border-color: var(--primary) !important;
    color: var(--primary) !important;
}

.btn-outline-primary:hover{
    background-color: var(--primary) !important;
    color: #f8f8f8 !important;
}

.text-primary {
    color: var(--primary) !important;
}

.bg-secondary,
.btn-secondary {
    background-color: var(--secondary) !important;
}

.bg-tertiary,
.btn-tertiary {
    background-color: var(--tertiary) !important;
}

.bg-success,
.btn-success {
    background-color: var(--success) !important;
}

.bg-info,
.btn-info {
    background-color: var(--info) !important;
}

.bg-warning,
.btn-warning {
    background-color: var(--warning) !important;
}

.bg-danger .btn-danger {
    background-color: var(--danger) !important;
}

.form-control{
    border: 0;
    border-bottom: 3px solid #005187;
}

.btn-filter{
    background: transparent;
    margin: 0;
    border: 0;
}

.offcanvas-start{
    width: 250px !important;
}

.link{
    text-decoration: none;
    font-size: 20px;
}